/* This spreadsheet is common to the main page and the schedule iframe. */

/* On: Main Page */
/* Controls the appearance and layout of the iframe. */
#schedule-frame {
	border: none;
	padding: 0;
	margin: 0;

	width: 100%;
	min-height: 400px;
}

.schedule-container {
	--slot-height: 35px;
}

.schedule-grid {
	border-color: #000;
	border-right-color: #000 !important;
}

.legend .schedule-grid {
	border-color: rgba(0,0,0,0.1);
	color: #999;
}

schedule-event {
	background: #e2a188;
	border-color: #bb5b45;
	border-radius: 3px;
}

.event-title {
	font-weight: bold;
}

.event-time {
	font-size: 0.9rem;
	opacity: 0.75;
}

.event-description {
	font-size: 0.75rem;
}
